name: Sync to Hugging Face hub
on:
  push:
    branches: [main]
  # Cho phép bấm nút chạy thủ công trên GitHub
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true

      - name: Push to Hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          # Xóa và thêm cấu hình remote sạch sẽ
          git remote add hf https://erg2025:$HF_TOKEN@huggingface.co/spaces/erg2025/erg_BE
          # Đẩy code sang nhánh main của Hugging Face
          git push --force hf main